* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(122, 212, 224), rgb(42, 67, 211));
  font-family: sans-serif;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

.search-box input {
  font-size: 40px;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 20px 80px;
  box-shadow: rgba(0, 0, 0, 0.452) 3px 3px;
  border: none;
  outline: none;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.temperature {
  font-size: 50px;
}

.pac-icon {
  display: none;
}

.pac-item {
  font-size: 1rem;
  padding: 10px 10px;
}

.pac-item-query {
  font-size: 1rem;
  padding-right: 14px;
}